.About {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: calc(100vh - 12rem);
  cursor: pointer;
  width: 100%;
}

.About p {
  text-align: center;
  margin-left: 2rem;
  margin-right: 2rem;
  flex: 1
}

.Comment {
  position: absolute;
  top: 1.5rem;
  font-family: 'Light';
  font-size: 1.5rem;
  letter-spacing: 0.15rem;
  z-index: 105;
}

.Paragraph {
  font-family: 'Medium';
  font-size: 2.5rem;
  letter-spacing: -0.05rem;
  width: 50%;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.TypeAnimation {
  opacity: 0.7;
}

.About-1 b:nth-of-type(1) {
  color: var(--blue);
}

.About-1 b:nth-of-type(2) {
  color: var(--red);
}

.About-2 b:nth-of-type(1) {
  color: var(--purple);
}

.About-3 b:nth-of-type(1) {
  color: var(--yellow);
}

.About-3 b:nth-of-type(2) {
  color: var(--green);
}

.About-4 b:nth-of-type(1) {
  color: var(--red);
}

.About-4 b:nth-of-type(2) {
  color: var(--purple);
}

.Hyperlinks {
  background-color: var(--dark);
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
  font-family: "Bold";
  font-size: 5rem;
  pointer-events: none;
}

.Hyperlinks a {
  text-decoration: none;
  color: var(--light);
}

.Hyperlinks b {
  font-family: "Light";
  font-size: 3rem;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .Paragraph{
    font-size: 1.25rem;
  }

  .About p {
    margin-left: 1.25rem;
    margin-right: 1.25rem;
  }

  .Comment {
    font-size: 1rem;
    top: 3rem;
  }
}