
.Contact {
  position: relative;
  margin: 0;
  min-height: calc(100vh - 12rem);
  padding: 0;
}

.Contact-Line {
  position: absolute;
  z-index: 5;
  top: 0;
  bottom: 0;
  left: 15vw; /* change on mobile */
  width: 0.1rem;
  background-color: var(--light);
  display:flex;
  flex-direction: column;
  align-items: center;
}

.Contact-Line-Circle {
  position: absolute;
  top: 5rem;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  background-color: var(--dark);
  border: 0.1rem solid var(--comment);
  z-index: 6;
}

.Contact-Header {
  display: flex;
  flex-direction: column;
  padding-top: 4.5rem;
  margin-left: calc(15vw + 2.5rem);  /* change on mobile */
}

.Contact-Title {
  font-size: 1.25rem;
  font-family: "FiraCode", monospace;
  color: var(--comment);
}

.Contact-Content {
  margin-top: 3rem;
  box-sizing: border-box;
  padding: 0;
  width: 100%;
}

.Code-Line {
  font-family: 'FiraCode', monospace;
  font-size: 1.25rem;
  display: flex;
  flex-direction: row;
}

.Code-Line span {
  white-space: pre-wrap;
  word-break: break-word;
  overflow-wrap: break-word;
}

.Code-Line:hover {
  background-color: var(--lightComment);
}


.Line-Number {
  width: calc(15vw - 1rem);
  margin-right: 1rem;
  font-weight: 300;
  text-align: right;
  color: var(--comment);
  opacity: 0.5;
}

.Line-Text {
  margin-left: 2rem;
  flex: 1;
}

.Line-Methods {
  color: var(--purple);
}

.Line-Prop {
  color: var(--yellow);
}

.Line-Scope {
  color: var(--red);
}

.Line-Prop2 {
  color: var(--cyan);
}

.Line-String {
  color: var(--green);
}

.Line-Comment {
  color: var(--comment);
}

.Line-Input {
  scale:0;
}

.Line-Dots {
  opacity: 0.2;
  display: inline;
}

.Line-Field {
  background-color: #00000044;
}

.Contact-Footer {
  margin-left: calc(15vw + 2rem);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.Contact-Send-Button {
  border: 1px solid var(--light);
  width: 10rem;
  height: 3rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  justify-content: center;
  align-items: center;
  font-family: 'Medium', sans-serif;
  cursor: pointer;
}

.Contact-Socials {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
}

.Contact-Socials a{
  color: var(--light);
  font-size: 1.5rem;
}

.SendEmail {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.EmailInfo {
  font-family: 'Light', sans-serif;
  font-size: 1.25rem;
}

@media only screen and (max-width: 768px) {
  .Line-Dots, .Line-Comment{
    display: none;
  }

  .Contact {
    height: calc(100vh - 8rem);
  }
}