.Skills {
  font-family: 'Fira Code', monospace;
  height: calc(100vh - 12rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Terminal {
  flex: 1;
  padding-block: 5rem;
  width: 65rem;
  max-width: 75%;
  display: flex;
  cursor: pointer;
}

.Window {
  flex: 1;
  background-color: #00000044;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem 0.5rem #00000022;
}

.Icons {
  height: 2rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 0 0.5rem;
}

.Icon {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin: 0 0.5rem;
}

.Icons .Icon:nth-child(1) {
  background-color: #BE5046;
}

.Icons .Icon:nth-child(2) {
  background-color: #D19A66;
}

.Icons .Icon:nth-child(3) {
  background-color: #7A9F60;
}

.TitleBar {
  height: 3rem;
  color: var(--dark);
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5rem;
}

.Title {
  /* CENTER ON TITLE BAR */
  color: var(--light);
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.Content {
  padding: 1rem;
  color: var(--light);
  font-size: 1rem;
  font-family: 'Fira Code', monospace;
}

.Line {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Prompt {
  color: var(--light);
  font-family: 'Fira Code', monospace;
  font-size: 1rem;
  font-weight: 500;
}

.Command {
  margin-left: 0.5rem;
}

/* SKILLS */

.Showcase {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  max-width: 65rem;
  padding: 1rem;
  margin-top: 1rem;
}

.Skill {
  padding-block: 1.5rem;
  padding-inline: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px dashed var(--light);
  height: 17.5rem;
}

.Skill-Image {
  height: 10rem;
  margin: 0 0.5rem;
}

.Skill-Name {
  padding-top: 1.5rem;
  font-size: 1.25rem;
  font-weight: 500;
  margin: 0 0.5rem;
}

.Skill-Level {
  font-size: 0.75rem;
  font-weight: 500;
  text-align: center;
}


@media only screen and (max-width: 768px) {

  .Showcase {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
    max-width: 65rem;
    padding: 1rem;
  }
  

  .Title {
    /* CENTER ON TITLE BAR */
    color: var(--light);
    position: inherit;
    transform: none;
    padding-right: 1rem;
  }  

  .Skills {
    height: 100%;
  }
}