.Nav {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 12rem;
  background-color: #ddd;
}

.Nav div {
  display: flex;
  flex-direction: row;
}

.Nav h2 {
  margin-left: 1rem;
  font-family: 'Medium', sans-serif;
  font-size: 1.5rem;
}

.Nav div a {
  margin: 0 2rem;
  text-decoration: none;
  color: #101010;
  font-family: 'Medium', sans-serif;
  font-size: 1rem;
}

.BorderNav {
  position: absolute;
  bottom: 0;
  background-color: #101010;
  height: 0.15rem;
  width: 97.5%;
  margin-left: 1.25%;
  margin-right: 1.25%;
}

