/* Import Fira Code font from Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Fira+Code:200,300,400,500,600,700');

@font-face {
  font-family: 'Light';
  src: local('AktivGrotesk'),
    url("./fonts/AktivGrotesk-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'Regular';
  src: local('AktivGrotesk'),
    url("./fonts/AktivGrotesk-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Medium';
  src: local('AktivGrotesk'),
    url("./fonts/AktivGrotesk-Medium.ttf") format("truetype");
}

@font-face {
  font-family: 'Bold';
  src: local('AktivGrotesk'),
    url("./fonts/AktivGrotesk-Bold.ttf") format("truetype");
}

:root {/* Import Fira Code font from Google Fonts */
  font-family: 'Regular', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  
  --dark: #282C34;
  --darker: #17191d;
  --light: #abb2bf;
  --comment: #abb2bfaa;
  --lightComment: #abb2bf10;
  --backgroundComment: #abb2bf11;
  --red: #E06C75;
  --green: #98C379;
  --blue: #61AFEF;
  --yellow: #E5C07B;
  --orange: #D19A66;
  --purple: #C678DD;
  --cyan: #56B6C2;
  
  background-color: var(--dark);
  color: var(--light);

}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}


*{
  user-select: none;
}
